# python / pip
*.pyc
/pip-selfcheck.json
# vim files
*.swo
*.swp
# database
*.sqlite3
# target
/.target
# virtualenv folders
/bin/
/include/
/lib/
/share/
/local/
# pid and fcgi file in deploy
/deploy/*.pid
/deploy/*.fcgi
